$color-principal: #A1C8EC;
$color-secundario: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
$color-terciario: #A1C8EC;
$color-formulario: #D3E1E2;
$color-border:linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
